# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: 'Node.js CI'

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  ci_app:
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: 'actions/checkout@v2'

      - name: 'Cache dependencies'
        uses: 'actions/cache@v2.1.5'
        with:
          path: '.npm'
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: 'Install dependencies'
        run: 'npm ci --cache .npm --prefer-offline'

      - name: 'Install dependencies'
        run: 'npm install'

      - name: 'Lint'
        run: 'npm run lint'

      - name: 'MarkdownLint'
        run: 'npm run markdownlint'

      - name: 'Test'
        run: 'npm test'
